/*responsive  start*/

/*---max-width (991px)---*/
@media (max-width:991px) {
    .reset_part {
        width: 100%;
    }
    .none{
        display: none;
    }
    .done_btn {
        padding: 10px 79px;
    }
}
/*---max-width (768px)---*/
@media (max-width:768px){
    .none{
        display: none;
    }
    .done_btn {
        padding: 10px 40px;
    }
    .img_one img {
        width: 45%;
    }
    .img_two img {
        width: 65%;
    }
    .reset_part {
        width: 100%;
    }
}


/*---max-width (575px)---*/
@media (max-width:575px) {
    .none{
        display: none;
    }
    .icon_part .text_part_sec p {
        font-size: 15px;
    }
    .icon_part .text_part h3 {
        font-size: 23px;
        line-height: 34px;
    }
    .img_two img {
        width: 56%;
    }
    .img_one img {
        width: 60%;
    }
}

/*---max-width (414px)---*/
@media (max-width:414px) {
    .reset_part {
        width: 100%;
    }
    .none{
        display: none;
    }
    .icon_part .text_part_sec p {
        font-size: 11px;
    }
    .icon_part .text_part h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .img_two img {
        width: 50%;
    }
    .img_one img {
        width: 66%;
    }
    .text_part {
        margin-top: 19px;
    }
    .text_part_sec {
        margin-top: 19px;
    }
    .done_btn {
        margin-top: 12px;
    }
}